* {
    padding: 0;
    margin: 0;
}
body {
    background: black;
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}
.header-div {
    margin: 15px;
    background: #0a0a0a;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}
.header-div h4 {
    font-family: "Poppins", sans-serif;
    /* font-family: "Oswald", sans-serif; */
    font-size: 17px;
}
.pp {
    font-weight: 350;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background: #0a0a0a;
    padding: 4px;
    border-radius: 6px;
    margin: 0px 15px;
    font-weight: 200;
    text-align: center;
}
a {
    color: currentColor;
    text-decoration: none;
}
.gallery-div {
    display: grid;
}
.centered {
    display: flex;
    justify-content: center;
}
.btn-div {
    background: green;
    display: none;
}
.frame-videos {
    display: grid;
    grid-template-columns: auto;
    padding: 0px 10px;
}
.frame-videos video {
    width: 100%;
    aspect-ratio: 16/9;
    border: 1px solid white;
    border-radius: 6px;
    margin-top: 10px;
}
.frame {
    margin: 15px 20px 0px 20px;
    padding-right: 17px;
}
.creative-gallery {
    padding-right: 20px;
}
.del-img {
    width: 60%;
}
.frame button {
    color: #ddd;
    font-weight: bolder;
    background: darkred;
    border: none;
    padding: 5px 32px;
    border-radius: 6px;
    margin: 15px;
    width: 90%;
}
.frame img {
    width: 100%;
    background: #222;
    padding: 10px;
}
.frame img:hover {
    cursor: pointer;
}
.popup-full {
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    top: 0%;
    left: 0%;
    visibility: hidden;
}
.popup-full span {
    position: absolute;
    right: 5%;
    top: 3%;
}
.popup-full span:hover {
    cursor: pointer;
}
.popup-full img {
    width: 90%;
    height: 100%;
    margin: 35% 30px;
    pointer-events: none;
    border: 3px solid white;
    border-radius: 1px;
}
.the-end {
    text-align: center;
    margin: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.margin-bttm {
    margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
    .header-div {
        margin: 15px 270px 15px 270px;
        background: #0a0a0a;
        border-radius: 8px;
        padding: 8px;
        text-align: center;
    }
    .header-div h4 {
        font-family: "Poppins", sans-serif;
        /* font-family: "Oswald", sans-serif; */
        font-size: 17px;
    }
    .pp {
        font-weight: 350;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        background: #0a0a0a;
        padding: 4px;
        border-radius: 6px;
        margin: 0px 270px 0px 270px;
        font-weight: 200;
    }
    .videos-gallery video {
        width: 30px;
        height: 30px;
    }
    .frame {
        margin: 20px 270px;
    }
    .frame img {
        width: 100%;
        padding: 10px;
        /* height: 100vw; */
    }
    .frame button {
        color: #ddd;
        font-weight: bolder;
        background: darkred;
        border: none;
        padding: 10px 100px;
        border-radius: 6px;
        margin: 15px;
    }
}